In [1]:
print("hello world")

[1] "hello world"

### comment

In [2]:
# This is the comment

## variable

In [6]:
a = "alamin"
b = "bhuyan"
print(a)
print(b)

[1] "alamin"
[1] "bhuyan"

In [7]:
# we can also assgin value in variable using "<-" symbole 
name <- "Tania Akter"
print(name)

[1] "Tania Akter"

In [8]:
# You can also concatenate, or join, two or more elements, by using the paste() function.
text = "awesome"
paste("R is ",text)

[1] "R is  awesome"

In [9]:
paste(a,b)

[1] "alamin bhuyan"

## Data types

In [15]:
num1 = 500
num2 = 4L # 'L' means integer
num3 = 4+3i
num4 = "This is string"
num5 = 4.555
num6 = TRUE
# to check the data types use class() method
print(class(num1))
print(class(num2))
print(class(num3))
print(class(num4))
print(class(num5))
print(class(num6))

[1] "numeric"
[1] "integer"
[1] "complex"
[1] "character"
[1] "numeric"
[1] "logical"

## Type convertion

In [21]:
a = 10L # integer
b = 450.44 # numeric
c = 4i # complex
# convert from integer to numeric
x = as.numeric(a)
print(class(x))
# covert from numeric to integer
y = as.integer(b)
print(class(y))
# covert from complex to integer
z = as.integer(c)
print(class(z))

[1] "numeric"
[1] "integer"

Warning message in eval(expr, envir, enclos):
"imaginary parts discarded in coercion"

[1] "integer"

## for loop

In [22]:
for(x in 1:10)
    print(x)

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10

In [23]:
fruits = list("apple","banana","orange","mango","potato")
for(i in fruits)
    print(i)

[1] "apple"
[1] "banana"
[1] "orange"
[1] "mango"
[1] "potato"

In [25]:
# use 'break' statement inside for loop
for(i in fruits){
    if(i=="orange"){
        break
    }
    print(i)
}

[1] "apple"
[1] "banana"

In [26]:
# use 'next' statement inside for loop
for(i in fruits){
    if(i=="orange"){
        next
    }
    print(i)
}

[1] "apple"
[1] "banana"
[1] "mango"
[1] "potato"

In [27]:
dice <- 1:6

for(x in dice) {
  if (x == 6) {
    print(paste("The dice number is", x, "Yahtzee!"))
  } else {
    print(paste("The dice number is", x, "Not Yahtzee"))
  }
}

[1] "The dice number is 1 Not Yahtzee"
[1] "The dice number is 2 Not Yahtzee"
[1] "The dice number is 3 Not Yahtzee"
[1] "The dice number is 4 Not Yahtzee"
[1] "The dice number is 5 Not Yahtzee"
[1] "The dice number is 6 Yahtzee!"

In [28]:
# nested for loop
adj <- list("red", "big", "tasty")

fruits <- list("apple", "banana", "cherry")
  for (x in adj) {
    for (y in fruits) {
      print(paste(x, y))
  }
}

[1] "red apple"
[1] "red banana"
[1] "red cherry"
[1] "big apple"
[1] "big banana"
[1] "big cherry"
[1] "tasty apple"
[1] "tasty banana"
[1] "tasty cherry"